* {
  margin: 0px;
  padding: 0px;
}

app-bar nav h1.title{
  font-family: 'Fruktur', cursive;
  color: white;
}

body.background-color {
  background-color: rgb(255, 255, 255);
}

button.button-red {
  background-color: rgb(74, 144, 190);
}

nav h1.navbar-brand {
  font-size: 40px;
}

.card .card-img-top {
  height: 250px;
  object-fit: cover;
}

.card .card-body {
  height: 100px;
}

.card .card-footer {
  background: none;
  border: none;
  padding-bottom: 10px;
  display: flex;
  align-self: center;
}
